.current-spot-list {
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    width: 80%;
    margin: 0 auto;
}


.delete-spot-button {
    height: 24px;
    margin-left: 10px;
    background-color: gray;
    color: white;
}

.createspot-button-spotlist {
    background-color: lightcoral;
    color: white;
}

button.delete-spot-button:hover {
    background-color: rgb(84, 84, 84);
}

button.createspot-button-spotlist:hover {
    background-color: lightblue;
}
