.previewImage {
    width: 500px;
    height: 500px;
    margin: 10px;
}

.spotImage {
    width:300px;
    height: 300px;
    margin: 10px;
}

.spot-detail-title {
    display:flex;
    margin-left: 2%;
}

.spot-detail {
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
}

.spotdetail-review {
    display: flex;
    margin-left:3%;
    font-size: 18px;
}


.spotdetail-review-bottom {
    margin-left: 20px;
}

.review-list {
    margin-top: 20px;
}
