.fab {
    align-items: center;
    background-color: orange;
    border-radius: 50px;
    bottom: 30px;
    box-shadow: 0 4px 6px rgb(0, 0, 0, 0.2);
    cursor: pointer;
    display: flex;
    justify-content: center;
    overflow: hidden;
    position: fixed;
    left: 200px;
    height: 50px;
    width: 50px;
    transition: box-shadow 0.5s, transform 0.25s;
    zoom: 1;
  }

  .fab.is-hidden {
    transform: scale(0);
  }
