

.spot-tile {
    width: 450px;
    height: 450px;
    border: 5px solid black;
    margin: 20px;


}
.spot-box {
    display:flex ;
    flex-direction: row wrap;
}
.spot-images {
    width: 450px;
    height: auto;
}

.heart-allspots {
    color: red;
    justify-content: flex-end;
}
