.create-spot-form {
    display: flexbox;
    flex-flow: column ;
    width: 450px;
    height: 800px;
    background-color: rgb(253, 253, 253);
}

.address {
    justify-content: center;
    align-items: center;
    justify-items: center;
    align-content: center;
}

.city {
    flex-direction: column;
}
