.review-firstName {
    margin: 5px 0;
    font-size: 18px;
    font-family:'Times New Roman', Times, serif;
}

.review-date {
    margin:5px 0;
    font-size: 14px;
    color: gray;
}
.review-description {
    margin: 5px 0;
    font-size: 14px;
}
.no-review {
    margin-left: 3%;
    font-size: 12px;
    margin-bottom: 20px;
}

.no-review-star {
    margin-right: 5px;
    margin-left: 3%;
    font-size: 16px;
}
.no-review-new {
    font-size: 16px;
    margin-bottom: 5px;
}
.no-review-star-line {
    display: flex;
    margin-top: 20px;
}

.review-list {
    margin-left:1.5%;
}

.review-star {
    margin-right: 5px;
    margin-bottom: 10px;
}
