.edit-spot-title {
    font-family: Inter;
    font-style: bold;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    margin: 30px 0 0 0 ;
}
.edit-spot-form {
    display: flex;
    flex-direction: column;
    width: 650px;
    height: 100%;
}

.form-list {
    display:flex;
    flex-direction: column;
    margin: 0 auto;
}

.create-spot-input {
    font-size: 14px;
    height: 22px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 6px;
    width: 580px;
    margin: 0 auto;
    padding-left: 10px;
}

.create-spot-input-description {
    font-size: 14px;
    height: 60px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 6px;
    width: 580px;
    padding-left: 10px;
}

.createspot-text {
    font-size: 14px;
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    width: 100%;
    margin: 5px auto;
}


.createspot-button {

    height: 30px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 6px;
    width: 594px;
    margin: 0 auto ;
    background: rgb(222, 37, 97);

    border-radius: 9px;
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    color: white;
    margin-bottom: 30px;
    margin-top: 10px;
}

.createspot-box {
    width: 100%;
    margin: 0 auto;
}
