.hidden {
    visibility: hidden;
}


.header-home {
    grid-area: home;
    flex-grow: 1;
}
.home-logo {
    width: 50px;
    height: 50px;
    text-align: center;
}

.header-create-spot {
    grid-area: manage;
    margin-right: 20px;
    font-family: Inter;
}

.header-profile-button {

    justify-content: flex-end;
    grid-area: profile;
}

.header {
    width:80%;
    margin: 20px auto;
    display: flex;
    flex-direction: row;

    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
    "home . manage profile";
    height: 60px;
}
.create-spot-link {
    box-shadow: inset 0 0 0 0 #ea2f2f;
    color: #ea2f2f;
    margin: 0 -.25rem;
    padding: 0 .25rem;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
    border-radius: 3px;
}

div.create-spot-link:hover {
    box-shadow: inset 150px 0 0 0 #ea2f2f;
    color: rgb(255, 255, 255);
}
