.signin-form {
    width: 980px;
    height: 980px;
    justify-content: center;
    align-content: center;
    background-color: white;
}

.username-input {
    flex-direction: column;
    width: 568px;
    height: 60px;

    background: rgb(255, 255, 255);

    border: 1px solid rgb(0, 0, 0);
    border-radius: 6px;
    margin : 5px;
}
.username {
    width: 65px;
    height: 20px;

    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: left;

    color: rgb(157, 153, 153);
    margin: 7px;
}

.password-input {
    flex-direction: column;
    width: 568px;
    height: 55px;

    background: rgb(255, 255, 255);

    border: 1px solid rgb(0, 0, 0);
    border-radius: 6px;
    margin : 5px;
}
.password {
    width: 65px;
    height: 20px;

    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: left;

    color: rgb(157, 153, 153);
    margin: 7px;
}

.input {
    width: 550px;
    height: 25px;
    border: none;

    background: rgb(255, 255, 255);
    margin: 5px
}

.login-button {
    width: 568px;
    height: 40px;
    background: rgb(222, 37, 97);

    border-radius: 9px;
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;

    color: rgb(255, 255, 255);
    margin: 0 0 0 5px ;

}
