.login {
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 17px;
    text-align: center;
    margin-top: 50px;
}
.lgoin-form {
    display: flexbox;
    flex-direction: column;
    width: 500px;
    height: 300px;
    background-color: rgb(253, 253, 253);
}

.username-input {
    display: flex;
    flex-flow: column wrap;
    width: auto;
    height: 70px;
    background: rgb(255, 255, 255);
    border: 1px solid rgb(0, 0, 0);
    border-radius: 6px;
    width: 60%;
    margin: auto;
}
.username {
    width: auto;
    height: 20px;

    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: left;

    color: rgb(157, 153, 153);
    margin: 8px 0 0 8px;
}

.password-input {
    display: flex;
    flex-flow: column wrap;
    width: auto;
    height: 70px;

    background: rgb(255, 255, 255);

    border: 1px solid rgb(0, 0, 0);
    border-radius: 6px;
    width: 60%;
    margin: auto;
    margin-top: 10px
}
.password {
    width: auto;
    height: 20px;

    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: left;

    color: rgb(157, 153, 153);
    margin: 8px 0 0 8px;
}

.input {

    justify-content: center;
    width: 90%;
    height: 25px;
    border: none;

    background: rgb(255, 255, 255);
}

.login-button {

    display: flex;
  flex-flow: row wrap;
    width: 568px;
    height: 40px;
    background: rgb(222, 37, 97);

    border-radius: 9px;
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;

    color: rgb(255, 255, 255);
    width: 60%;
    margin: auto;
    margin-top:20px;

}
